@charset "utf-8";

html {
  font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif,FixedSys;
$gray : #8da0b6;
$white : #ffffff;
$blue : #008db7;



body{
    background-color: $white;
}

//headerin

#toplogo{
    margin: 50px 0px 20px 0px;
}

.pc_menu{
     margin: 60px 0px 20px 0px;
}

.pc_menu_li{
    list-style:none;
    margin-top: 15px;
    margin-bottom: 5px;
}

.menubar{
    display:inline-block;
    padding-left: 45px;
}



//スマホ設定
@media (max-width: 550px){
    

    
    #sp_top_header{
        display:flex;
        margin: 10px 0px 5px 0px;
    }
    
    
    #sp_menu_logo{
        float: left;
       width: 70%;
       flex-wrap:wrap;
       padding: 5px;
       margin: 15px 5px 10px 5px;
    }
    
    
    #sp_menu_icon{
    float: right;
    width: 15%;
    margin: 5px;
    padding: 10px;
    flex-wrap:wrap;

}


.sp_menu_toggle{
    margin: 10px;
}
   .tog_menu{
    list-style: none;
    background-color: $white;
    border: 1px solid #eee;
    margin: 0px;
    padding: 10px 0px 10px 0px;
}

.tog_menu_pic{
    margin-left: 10px;
}

}

//pcの時スマホ非表示
@media (min-width: 550px){
    #sp_menu{
        display: none;
    }
    
    .tog_menu{
        display: none;
    }
}

    .sp_menu_toggle{
        display: none;
    }

//スマホ時ＰＣ非表示
@media (max-width: 550px){
    #top_pc_menu{
        display: none;
    }
}


//main

#about{
    margin: 15px 0px 15px 0px;
}

.goto{
    text-align: center;
}

@media (max-width: 550px){
    .goto_pic{
        width: 80%;
    }
}


.about_text{
    text-align: center;
    @include fontsize(15);
    color:$gray
}

#gallery_top{
    margin: 20px 0px 15px 0px;
}


.line{
    border: solid;
    border-width: 1px;
    color: $gray;
    margin: 10px 0px 15px 0px;
}

#gallery_about{
    margin: 30px 0px 15px 0px;
}


.gallery_logo{
    text-align: center;
}

@media (max-width: 550px){
    .gallery_logo_pic{
        width: 60%;
    }
}


.gallery_text{
    text-align: center;
    @include fontsize(15);
    color:$gray
}

.gallery_pic_top{
    padding: 10px;
    margin: 20px 10px 20px 10px;
}

@media (max-width: 550px){
    .gallery_pic_top{
        padding: 5px;
        margin: 5px;
    }
}


#contact{
    margin: 60px 0px 40px 0px;
    text-align: center;


.contact_logo{
    text-align: center;
}

@media (max-width: 550px){
.contact_logo_pic{
    width: 60%;
}
}
.button_contact{
    list-style: none;
    display:inline-block;
    width: 30px;
  height: 30px;
  margin:10px;
  padding:10px;
  font-size:1.5rem;
  vertical-align: middle;
  text-align: center;
  background-color: $gray;
  border-radius: 50%;
}

i{
    @include fontsize(27);
    color: #4e454a;
}

}



#footerzone{
  background-color: $blue;
  padding: 10px 10px;
  text-align: center;
  color: #gray;
}