html {
  font-size: 62.5%; }

body {
  background-color: #ffffff; }

#toplogo {
  margin: 50px 0px 20px 0px; }

.pc_menu {
  margin: 60px 0px 20px 0px; }

.pc_menu_li {
  list-style: none;
  margin-top: 15px;
  margin-bottom: 5px; }

.menubar {
  display: inline-block;
  padding-left: 45px; }

@media (max-width: 550px) {
  #sp_top_header {
    display: flex;
    margin: 10px 0px 5px 0px; }

  #sp_menu_logo {
    float: left;
    width: 70%;
    flex-wrap: wrap;
    padding: 5px;
    margin: 15px 5px 10px 5px; }

  #sp_menu_icon {
    float: right;
    width: 15%;
    margin: 5px;
    padding: 10px;
    flex-wrap: wrap; }

  .sp_menu_toggle {
    margin: 10px; }

  .tog_menu {
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #eee;
    margin: 0px;
    padding: 10px 0px 10px 0px; }

  .tog_menu_pic {
    margin-left: 10px; } }
@media (min-width: 550px) {
  #sp_menu {
    display: none; }

  .tog_menu {
    display: none; } }
.sp_menu_toggle {
  display: none; }

@media (max-width: 550px) {
  #top_pc_menu {
    display: none; } }
#about {
  margin: 15px 0px 15px 0px; }

.goto {
  text-align: center; }

@media (max-width: 550px) {
  .goto_pic {
    width: 80%; } }
.about_text {
  text-align: center;
  font-size: 15px;
  font-size: 1.5rem;
  color: #8da0b6; }

@media (max-width: 550px) {
  .about_text {
    font-size: 13px;
    font-size: 1.3rem; } }
#gallery_top {
  margin: 20px 0px 15px 0px; }

.line {
  border: solid;
  border-width: 1px;
  color: #8da0b6;
  margin: 10px 0px 15px 0px; }

#gallery_about {
  margin: 30px 0px 15px 0px; }

.gallery_logo {
  text-align: center; }

@media (max-width: 550px) {
  .gallery_logo_pic {
    width: 60%; } }
.gallery_text {
  text-align: center;
  font-size: 15px;
  font-size: 1.5rem;
  color: #8da0b6; }

.gallery_pic_top {
  padding: 10px;
  margin: 20px 10px 20px 10px; }

@media (max-width: 550px) {
  .gallery_pic_top {
    padding: 5px;
    margin: 5px; } }
#contact {
  margin: 60px 0px 40px 0px;
  text-align: center; }
  #contact .contact_logo {
    text-align: center; }
  @media (max-width: 550px) {
    #contact .contact_logo_pic {
      width: 60%; } }
  #contact .button_contact {
    list-style: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 10px;
    font-size: 1.5rem;
    vertical-align: middle;
    text-align: center;
    background-color: #8da0b6;
    border-radius: 50%; }
  #contact i {
    font-size: 27px;
    font-size: 2.7rem;
    color: #4e454a; }

#footerzone {
  background-color: #008db7;
  padding: 10px 10px;
  text-align: center;
  color: #gray; }

#spot_intro {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  margin: 20px 35px 20px 40px; }

.spot_pic {
  width: 45%;
  margin: 10px;
  padding: 10px; }

.top_back {
  text-align: center;
  margin: 30px 15px 30px 15px; }

.top_back img {
  width: 20%; }

@media (max-width: 550px) {
  #spot_intro {
    display: block;
    margin: 0px;
    padding: 0px; }

  .spot_pic {
    margin: 10px 0px 5px 0px;
    padding: 0px;
    width: 100%; }

  .top_back img {
    text-align: center;
    width: 40%; } }
#shikoku_cover {
  margin-bottom: 15px; }

.spot_name_pc {
  color: #8da0b6;
  font-size: 20px;
  font-size: 2rem;
  margin: 10px 0px 10px 0px;
  padding: 10px; }

.spot_name_sp {
  color: #8da0b6;
  font-size: 20px;
  font-size: 2rem;
  text-align: center;
  margin: 10px 0px 10px 0px;
  padding: 10px; }

@media (max-width: 550px) {
  .spot_name_pc {
    display: none; } }
@media (min-width: 550px) {
  .spot_name_sp {
    display: none; } }
#syodo_explain {
  color: #8da0b6;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 25px; }

#googlemap_area {
  margin: 30px 0px 60px 0px; }

#spot_back {
  text-align: center;
  margin: 20px 0px 20px 0px; }

@media (max-width: 550px) {
  .spot_name {
    font-size: 20px;
    font-size: 2rem; }

  #syodo_explain {
    color: #8da0b6;
    font-size: 13px;
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 25px; }

  #googlemap_area {
    width: 100%;
    margin: 10px 0px 10px 0px; }

  #spot_back img {
    width: 40%; } }
#gallery_picgroup {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
  margin: 30px 0px 30px 0px; }

.gallery_pic img {
  padding-top: 10px; }

@media (max-width: 550px) {
  #gallery_picgroup {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    margin: 5px 0px 5px 0px; }

  .gallery_pic {
    width: 45%; } }

/*# sourceMappingURL=seeandsea.css.map */
